.wrapper{
	width:85%;
	margin: 0 auto;
	position: relative;
}
.header{
	height:8%;
}
h1{
	font-size: 5em;
	font-weight: 600;
	line-height: 1em;
	margin:0;
}
p{
	width: 65%;
	font-size: 1em;
	line-height: 1em;
	margin-left: 13%;
}