
.wrapper{
	width:85%;
	margin: 0 auto;
	position: relative;
}
.header{
	display: inline;
}

h1{
	font-size: 7em;
	text-align: left;
	font-weight: 700;
	line-height: 1em;
	margin-left:8.666%;
}
p{
	width: 65%;
	font-size: 1em;
	
	text-align: center;
	line-height: 1em;
	margin-left: 13%;
}
