


h1 {
	font-size: 6rem;
	font-family: Georgia;
	text-align: left;
	font-weight: 700;
	line-height: 1em;
	margin-left:8.66%;
	font-family: 'Montserrat',sans-serif;
}

p {
	width: 65%;
	font-size: 1em;
	text-align: left;
	line-height: 1em;
	margin-left: 13%;
}