#canvas {
  display: flex;
  position: absolute;
  left: -15px;
  filter: blur(1px);
}
.overlay {
  position: absolute;
  display: flex;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  left: 0;
}

#sparks {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
}
