@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i|Roboto+Condensed:400,700|Roboto:300,300i,400,400i,700,700i');

.row {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6*/
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	/*flex-wrap: wrap;
	-webkit-flex-wrap: wrap;*/
}

.row > [class*='col-'] {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cusButton {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid white;
	color: white;
}

.cusButton:hover {
	background-color: white !important;
	color: black;
	border: 3px solid white !important;
}
.main-wrapper{
	/*background:black url('https://s-media-cache-ak0.pinimg.com/originals/bd/c6/8b/bdc68b5ba94f4dce7f5ea5661deb9c54.jpg');*/
	/*background:black url('http://sf.co.ua/12/07/wallpaper-2099773.jpg');*/
	background:black url('https://orig06.deviantart.net/aa8a/f/2014/053/e/2/free_space_galaxy_texture_by_lyshastra-d77gh54.jpg');
	/*background:black url('http://2.bp.blogspot.com/-Lce6Rzw3R9g/VqnRVMN8UJI/AAAAAAAAIFE/awp5Qdi-EdQ/s1600/Post%2B-%2BJanuary%2B2016%2B%252815%2529%2B-%2B1.jpg');*/
	background-position: center;
	background-size: cover;
	position: absolute;
  height: 110%;
  width: 110%;
  margin-left: -15px;
	filter: grayscale(1);
	left: -15px;
	top: -15px;
}
/*
.main-wrapper::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;

}*/
.main {
	color: white;
	overflow: hidden;
	margin-left: -1px;
}
.social-icons{
	list-style: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
	font-size: 1em;
	margin-bottom: 1em;
}
.social-icons li {
	padding-right: .5em;
}

.logo-placeholder {
	position: relative;
	left: 0;
	top: 0;
	width: 130px;
	background-color: white;
	height: 130px;
	cursor: pointer;
}
.logo-placeholder:hover{
  transition: box-shadow .2s ease-out;
	box-shadow: 0 0 50px 2px black;
}

.logo-placeholder img {
	margin: 5px;

}

h1{
	font-size:4em;
	/*font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: 'Arimo', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
  font-weight: 400;
	letter-spacing: .2px;
  line-height: 1.1;
	margin-bottom: .2em;
}

.row .content{
	/*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: 'Roboto', sans-serif;
  font-weight: 100;
	font-size: 1.2em;
}
.latest{
	-webkit-box-flex: 1;
	-ms-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;
	flex: 1;

}

.site-data {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.footer{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: small;
	padding: 0;
}
.foot-bold{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.ops-icon {
	font-size: medium;
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 700;
	margin-bottom: 2em;
}

button {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	width: 6em !important;
}

.content{
	width: 46em;
	position: relative;
	top: 4em;
}

.nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	display: block;
	margin-top: 2em;
}
.nav ul li a{
	margin-bottom: .5em;
	display: inline-block;
	width: auto;
	color: black;
	text-decoration: none;
	border-bottom: .2em solid rgb(92, 198, 203);
	line-height: .7em;
	padding-top: .2em;
}

.nav ul li a:hover{
	color: white;
	background-color: rgb(92, 198, 203);
}
.product{
	padding-top:70px;

}
.latest h1 {
	padding-top:10px;
}
.btn{
	width:150px;
	font-size:20px;
}
.btn:hover{
	background-color: #51B4BA;
	border-color: #51B4BA;
}

img {
background-color: white;
width:120px;
height:120px;
}
.fa-circle{
	color: #21FF00;
  box-shadow: 0 0 7px 2px #21FF00;
  background-color: #21FF00;
  border-radius: 50%;
  font-size: .4em;
	vertical-align: middle;
	margin-bottom: .4em;
}
