body{

	top="0";
	
	background-image: url("abstract-1066370_960_720.jpg");
}
.article{
	padding:40px;
}

.header{
	padding-top:140px;
}
.help{
	padding-top:20px;
}
.footer{
	margin-top:10%;
}
.btn-block{
	width:100%;
	margin-left: .1%
}
.input{
	width:87%;
	margin-left:5%;
}