.header1{
	background-color: #45ff67;
 	vertical-align: 'center';
 	padding:264px;
    
}

#img1{
	height:240px;
	width: 200px;
	margin-left:20px;
}
.heading{
	padding-top:50px;
	padding-bottom:20px;
}/*
hr{
	width:190px;
	border:70px;
}*/
.achi{

	padding-top: 0px;
	padding-bottom:120px;
	background-color:856767;

}*/

#p1{
	padding-top:30px;
	padding-bottom: 40px;
}/*
.about{
	margin:60px;
}
.thumbnail{
	width:200px;
	height:230px;
	margin:59px;
}*/
.team{
	padding-bottom:20px;
	line-height: 80px;
}
.btn-block{
	padding:12px;
	font-size:28px;

	
}
.joinus{
	padding:120px;
	background-color: #f4511e;
}/*
h1{
	margin-bottom:30px;
}
#social{
	display:'inline';
}*/
.footer1{
	background-color: grey;
	padding-bottom:20px;
	padding-top:30px;
	margin-top:-30px;

}
.ops{
	padding-top:30px;
	padding-bottom: 10px;
}
.socail1{
	padding-top:19px;
}
.member{
	background-color:#334365;
}
.about2{
	background-color:#583985;
	padding-bottom:40px;
	margin-top:-30px;
	p
}
